<!--<app-navbar></app-navbar>
<div class="row">
    <div class="col-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">
        <div class="row align-items-center">
        <app-courses  class="col-4"></app-courses>
        <app-rating class="col-4"></app-rating>
    </div>
    <div class="row align-items-center">
        <app-courses  class="col-4"></app-courses>
        <app-rating class="col-4"></app-rating>
    </div>
    <div class="row align-items-center">
        <app-courses  class="col-4"></app-courses>
        <app-rating class="col-4"></app-rating>
    </div>
    <div class="row align-items-center">
        <app-courses  class="col-4"></app-courses>
        <app-rating class="col-4"></app-rating>
    </div>
     
    </div>
</div>
<app-task3></app-task3>
<app-footer></app-footer>-->
<app-tassk4></app-tassk4>
